# ignore the __pycache__ folder
**/__pycache__

storcli2.log*

.kdev4/
*.kdev4
*.kate-swp
dist
dist-ssr
*.local
node_modules
node_modules/
.yarn/
.yarnrc.yml
.pnpm/
.pnpm-lock.yaml
.pnpm-debug.log
*.log
*.log.*
*.log-*


# deb packaging
debian/cockpit-45drives-hardware
debian/cockpit-45drives-hardware.substvars
debian/cockpit-45drives-hardware.postrm.debhelper
debian/debhelper-build-stamp
debian/files
debian/.debhelper

# version files
version.js
