.hardware_container {
    margin: 0;
    padding: 0;
}

.header-45D {
    display: flex;
    background-color: #151515;
    align-items: center; 
    width: 100%;
}

.header-45D img {
    width: 200px;
    height: auto;
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 5px;
}

.header-45D h2 {
    color: #FFFFFF;
}

.detail-table-header{
    background-color: #FFFFFF;
    width: 100%;
    color: #981C20;
    padding: 16px 8px 8px 8px;
    margin: 0;
    overflow: auto;
    text-align: left;
}

.detail-table-sub-header{
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
}

.system_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0;
    padding: 8px;
}

.system_output{
    padding: 8px;
}

.motherboard_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0;
    padding: 8px;
}

.motherboard_output {
    padding: 8px;
}

.disk_output {
    padding-top: 16px;
    padding-left: 8px;
}

.motherboard_output img {
    display: none;
}

.detail_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;
    padding: 8px;
}

.detail_output{
    padding: 8px;
}

.component_output{
    padding:25px;
    width: 200px;
    background-color: #f2f2f2;
}

.nav-tabs{
    color: rgb(200,200,200);
    background-color: rgb(24,26,27);
    border-top-color: rgb(56, 61, 63);
    border-right-color: rgb(56, 61, 63);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(56, 61, 63);
}

.nav-tabs > li > a {
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
    color: rgb(200,200,200);
    background-color: rgb(24,26,27);
    border-top-color: rgb(56, 61, 63);
    border-right-color: rgb(56, 61, 63);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(56, 61, 63);
}

.nav-tabs > li > a:hover  {
    color: rgb(255,255,255);
    background-color: rgb(100,100,100);
    border-top-color: rgb(56, 61, 63);
    border-right-color: rgb(56, 61, 63);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(56, 61, 63);
}

.tab_content_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #FCEDED}

th {
    background-color: #404040;
    color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    /*padding: 1px 1px 1px 1px;*/
    color: #981C20;
    cursor: default;
    background-color: #FAFAFA;
    border: 1px solid #ddd;
        border-bottom-color: #DDDDDD;
    border-bottom-color: transparent;
}

.active{
    --pf-global--active-color--100: #981C20;
}
