Source: cockpit-hardware
Section: utils
Priority: optional
Maintainer: 45Drives <bkelly@45drives.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/45Drives/cockpit-hardware


Package: cockpit-hardware
Architecture: amd64
Depends: cockpit, cockpit-ws, cockpit-bridge, dmidecode, ipmitool, python3, lshw, 45drives-tools (>= 1.8.0)
Description: A cockpit module for 45drives storage server products.
 Displays information about your 45drives storage server hardware via cockpit.
