Package: cockpit-hardware
Version: 1.2.0focal-2
Architecture: amd64
Maintainer: 45Drives <bkelly@45drives.com>
Installed-Size: 9980
Depends: cockpit, cockpit-ws, cockpit-bridge, dmidecode, ipmitool, python3, lshw, 45drives-tools (>= 1.8.0)
Section: utils
Priority: optional
Homepage: https://github.com/45Drives/cockpit-hardware
Description: A cockpit module for 45drives storage server products.
 Displays information about your 45drives storage server hardware via cockpit.
