%global debug_package %{nil}

Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

Obsoletes: 45drives-cockpit-hardware
Provides: 45drives-cockpit-hardware
Conflicts: 45drives-cockpit-hardware

Obsoletes: cockpit-hardware
Provides: cockpit-hardware
Conflicts: cockpit-hardware

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build

%install
make DESTDIR=%{buildroot} install

%files
%dir /usr/share/cockpit/45drives-system
%dir /usr/share/cockpit/45drives-disks
%dir /usr/share/cockpit/45drives-motherboard
/usr/lib/udev/rules.d/68-cockpit-45drives-disks.rules
%defattr(-,root,root,-)
/usr/share/cockpit/45drives-disks/*
/usr/share/cockpit/45drives-motherboard/*
/usr/share/cockpit/45drives-system/*


%changelog
* Thu Dec 04 2025 Jordan Keough <jkeough@45drives.com> 2.5.8-1
- Fixes F16 not showing in Disks + System tabs, Fixes PCIE slots showing Available
  when a HBA card was detected, removes unused system script from System module code
* Wed Dec 03 2025 Mark Hooper <mhooper@45drives.com> 2.5.7-1
- update for f16 support
* Mon Sep 22 2025 Jordan Keough <jkeough@45drives.com> 2.5.6-1
- Adds HL15_BEAST support
* Fri Sep 05 2025 Jordan Keough <jkeough@45drives.com> 2.5.5-1
- Adds support for new 45Studio 8-bay server
* Thu Jul 31 2025 Jordan Keough <jkeough@45drives.com> 2.5.4-2
- Building new package + release as users were experiencing issues with scripts/possibly
  not updating
* Thu Jul 31 2025 Jordan Keough <jkeough@45drives.com> 2.5.4-2
- Building new package + release as users were experiencing issues with scripts/possibly
  not updating
* Wed Jul 16 2025 Brett Kelly <bkelly@45drives.com> 2.5.4-3
- rev3
* Wed Jul 16 2025 Mark Hooper <mhooper@45drives.com> 2.5.4-2
- build rev 2
* Wed Jul 16 2025 Rachit Hans <rhans@45drives.com> 2.5.4-1
- added f16 disk image
* Fri Jun 13 2025 Jordan Keough <jkeough@45drives.com> 2.5.3-2
- Fixes pci script to filter duplicate slot data from PCIE2 in M2 slot
* Fri Jun 13 2025 Jordan Keough <jkeough@45drives.com> 2.5.3-1
- Adds support for ROMED8-2T/BCM motherboard
* Tue Mar 25 2025 Brett Kelly <bkelly@45drives.com> 2.5.2-2
- Fixes some issues with CPU/RAM temperature reporting, and data display in Motherboard
* Mon Feb 24 2025 Jordan Keough <jkeough@45drives.com> 2.5.2-1
- Fixes some issues with CPU/RAM temperature reporting, and data display in Motherboard
  popups having final character cut off
* Tue Feb 11 2025 Brett Kelly <bkelly@45drives.com> 2.5.1-1
- Initial el9 build